
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <br><br>
    <h1 class="buyuk-baslik"><i>@Odev3.Kaynaklar.dili.m1</i></h1>
    <hr>
    <h6><strong>@Odev3.Kaynaklar.dili.m2</strong></h6>
    <p>@Odev3.Kaynaklar.dili.m3</p>

    <h6><strong>@Odev3.Kaynaklar.dili.m4</strong></h6>
    <p>@Odev3.Kaynaklar.dili.m5</p><br><br><br>

    <h2 class="aviyonik-baslik"><strong><i>@Odev3.Kaynaklar.dili.m6</i></strong></h2><br><br><br>



    <!--ARDUINO UNO-->

    <div class="row">
        <div class="col-md-4 menu">
            <div class="tablo">
                <table>
                    <tr>
                        <th class="tablo-baslik">@Odev3.Kaynaklar.dili.m7</th>
                        <th class="tablo-baslik">&nbsp;&nbsp;Arduino Uno</th>

                    </tr>
                    <tr>
                        <td>@Odev3.Kaynaklar.dili.m8</td>
                        <td>: 14</td>

                    </tr>
                    <tr>
                        <td>@Odev3.Kaynaklar.dili.m9</td>
                        <td>: 6</td>

                    </tr>
                    <tr>
                        <td>@Odev3.Kaynaklar.dili.m10</td>
                        <td>: 5</td>

                    </tr>
                    <tr>
                        <td>@Odev3.Kaynaklar.dili.m11</td>
                        <td>: 25 gr</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-md-4 menu">
            <h1>Arduino Uno</h1><br>
                                <p>
                                    @Odev3.Kaynaklar.dili.m12
                                </p>
        </div>
        <div class="col-md-4 menu">
            <img src="@Url.Content("~/Content/Site/fotoğraflar/uno.jpg")" class="aviyonik-fotograf" style="width: 100%;"><br><br>
        </div>
    </div>
    <br> <br>


    <!--ARDUINO NANO-->

    <div class="row">
        <div class="col-md-4 menu">
            <div class="tablo">
                <table>
                    <tr>
                        <th class="tablo-baslik">@Odev3.Kaynaklar.dili.m7</th>
                        <th class="tablo-baslik">&nbsp;&nbsp;Arduino Nano</th>
                    </tr>
                    <tr>
                        <td>@Odev3.Kaynaklar.dili.m13</td>
                        <td>: 14</td>
                    </tr>
                    <tr>
                        <td>@Odev3.Kaynaklar.dili.m14</td>
                        <td>: 5 V</td>
                    </tr>
                    <tr>
                        <td>@Odev3.Kaynaklar.dili.m9</td>
                        <td>: 8</td>
                    </tr>
                    <tr>
                        <td>@Odev3.Kaynaklar.dili.m11</td>
                        <td>: 7 gr</td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="col-md-4 menu">
            <h1>Arduino Nano</h1><br>
                                 <p>
                                     @Odev3.Kaynaklar.dili.m15
                                 </p>
        </div>

        <div class="col-md-4 menu">
            <img src="@Url.Content("~/Content/Site/fotoğraflar/nano.jpg")" class="aviyonik-fotograf" style="width: 100%;"><br><br>
        </div>
    </div>

    <br><br>




    <!--STM-32-->

    <div class="row">
        <div class="col-md-4 menu">
            <div class="tablo">
                <table>
                    <tr>
                        <th class="tablo-baslik">@Odev3.Kaynaklar.dili.m7</th>
                        <th class="tablo-baslik">&nbsp;&nbsp;STM-32</th>
                    </tr>
                    <tr>
                        <td>@Odev3.Kaynaklar.dili.m16</td>
                        <td>: 8</td>
                    </tr>
                    <tr>
                        <td>@Odev3.Kaynaklar.dili.m14</td>
                        <td>: 5 V</td>
                    </tr>
                    <tr>
                        <td>@Odev3.Kaynaklar.dili.m17</td>
                        <td>: 2</td>
                    </tr>
                    <tr>
                        <td>@Odev3.Kaynaklar.dili.m18</td>
                        <td>: 3-5 V</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-md-4 menu">
            <h1>STM-32</h1><br>
                           <p>
                               @Odev3.Kaynaklar.dili.m19
                           </p>
        </div>
        <div class="col-md-4 menu">
            <img src="@Url.Content("~/Content/Site/fotoğraflar/stm32.jpg")" class="aviyonik-fotograf" style="width: 100%;"><br><br>
        </div>


        <br><br>


        <!--TEENSY 3.6-->

        <div class="row">
            <div class="col-md-4 menu">
                <div class="tablo">
                    <table>
                        <tr>
                            <th class="tablo-baslik">@Odev3.Kaynaklar.dili.m7</th>
                            <th class="tablo-baslik">&nbsp;&nbsp;Teensy 3.6</th>
                        </tr>
                        <tr>
                            <td>@Odev3.Kaynaklar.dili.m13</td>
                            <td>: 27</td>
                        </tr>
                        <tr>
                            <td>@Odev3.Kaynaklar.dili.m10</td>
                            <td>: 20</td>
                        </tr>
                        <tr>
                            <td>@Odev3.Kaynaklar.dili.m9</td>
                            <td>: 25</td>
                        </tr>
                        <tr>
                            <td>@Odev3.Kaynaklar.dili.m11</td>
                            <td>: 4.9 gr</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-md-4 menu">
                <h1>Teensy 3.6</h1><br>
                                   <p>
                                       @Odev3.Kaynaklar.dili.m20
                                   </p>
            </div>

            <div class="col-md-4 menu">
                <img src="@Url.Content("~/Content/Site/fotoğraflar/teensy.jpg")" class="aviyonik-fotograf" style="width: 100%;"><br><br>
            </div>
        </div>


    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>